<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Health Mate{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <!-- <h2>Welcome {{role}} {{user.username}}! -->
                <li><a href="{% url 'authentication:logout' %}">Logout</a></li></h2>
                {% else %}
                <h2><li><a href="{% url 'authentication:login' %}">Login</a></li>
                <li><a href="{% url 'authentication:register' %}">Register</a></li></h2>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
